@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Bokhanteringssystem2.Models.AuthorDetails>

@{
    ViewData["Title"] = "Select Authors";
}

<h2>Select Authors</h2>

@if (ViewBag.error != null)
{
    <p style="color:red;">@ViewBag.error</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Author Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorID</td>
                <td>@author.Name</td>
            </tr>
        }
    </tbody>
</table>

